:root {
    --padding: 2rem;
    --gap: 1rem;
    --aswg-primary-color: #46954a;
    --aswg-primary-text-color: #adbac7;
    --aswg-primary-color-hover: #3b803e;
    --aswg-bg-primary-bg-color: #22272e;
    --aswg-input-bg-color: #2d333b;
}

input[type="checkbox"] {
    border: 1px solid #969696 !important;
    accent-color: #969696 !important;
    -webkit-appearance: none !important;
    padding: 0;
    -moz-appearance: none !important;
    appearance: none !important;
    display: none !important;
    background-color: #fff !important;
    margin: 0 !important;
    font: inherit !important;
    color: currentColor !important;
    min-width: 15px !important;
    /* Zmniejszono o 5px */
    max-width: 15px !important;
    /* Zmniejszono o 5px */
    width: 15px !important;
    /* Zmniejszono o 5px */
    height: 15px !important;
    /* Zmniejszono o 5px */
    max-height: 15px !important;
    /* Zmniejszono o 5px */
    -webkit-transform: translateY(-0.075em) !important;
    -moz-transform: translateY(-0.075em) !important;
    -ms-transform: translateY(-0.075em) !important;
    -o-transform: translateY(-0.075em) !important;
    transform: translateY(-0.075em) !important;
    display: -ms-grid !important;
    display: grid !important;
    place-content: center !important;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);

&:before {
    content: "";
    width: 7.5px;
    /* Zmniejszono o 5px */
    -webkit-transition: .2s transform ease-in-out !important;
    -o-transition: .2s transform ease-in-out !important;
    -moz-transition: .2s transform ease-in-out !important;
    transition: .2s transform ease-in-out !important;
    height: 7.5px;
    /* Zmniejszono o 5px */
    -webkit-box-shadow: inset 1em 1em black;
    -moz-box-shadow: inset 1em 1em black;
    box-shadow: inset 1em 1em black;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

&:checked::before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    background-color: none !important;
}

&:checked {
    accent-color: #000 !important;
}
}

h1 {
    margin: auto !important;
}

.user-info {
    display: flex;
    flex-direction: column;

span {
    text-transform: capitalize;
}
}

label {
    gap: 8px;
    justify-content: space-between;
    display: flex;
    justify-content: start;
}

li span {
    margin-left: auto;
    padding-left:10px;
    flex-direction: row;
    display: flex;
}

.mission-maker,
.game-master {
&>span {
    font-weight: 600;
    color: var(--aswg-primary-color);
}

color:var(--aswg-primary-text-color);
}

li::marker {

    content: "";
}

.action-category {
    padding: calc(var(--padding)/2);

.appraisal span {
    font-weight: 700;

    color: #008000 !important;
}

.reprimand span {
    font-weight: 700;
    opacity: 0.75;
    color: #ff0000;
}

span,
label {
    color: var(--aswg-primary-text-color);

}

h3 {
    margin-top: 0
}

li {
    padding: var;
}

max-height: min-content !important;
    border-radius: 12px;
    -webkit-box-shadow: inset 0px 0px 9px -2px #000;
    -moz-box-shadow: inset 0px 0px 9px -2px #000;
    box-shadow: inset 0px 0px 9px -2px #000;

}

.player-name {
    font-size: 1.75rem;
}

.user-info span {
    color: var(--aswg-primary-text-color);
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
gap: calc(var(--gap)/2);
}

form {
    width: 100% !important;
    padding: 200px var(--padding) var(--padding) var(--padding);

}
.rank-item{
    color:var(--aswg-primary-text-color);
}
header {
&::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-backdrop-filter: blur(10px) brightness(0.5);
    backdrop-filter: blur(10px) brightness(0.5);
}

width:calc(100% - var(--padding)*2);
    position: fixed;
    z-index: 999;

&>div {

    gap:calc(var(--gap)/2)
}

padding: var(--padding);

.misssionData {
    max-width: 250px;
    min-width:250px;
}

.missionHosts {
    max-width:250px;
    min-width:250px;

&>div {
    display:flex;
    gap:var(--gap);
    justify-content: space-between;

    width:auto;
}
}

&>div {
    justify-content: center;
    display:flex;
    flex-direction: column;
}

display:flex;
flex-wrap:nowrap;
justify-content: space-between;
}

label[for="missionTitle"] {
    color: var(--aswg-primary-text-color);
    font-size: 2rem;
    font-weight: 500;
}

.missionHosts {
    padding:calc(var(--padding)/2) 0;
}

#missionTitle {

    background: transparent;
    box-shadow: none !important;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: var(--aswg-primary-color);
    font-size: 1.25rem;
padding: calc(var(--padding)/4);
}

body {
    margin: 0 !important;
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 1800px;
    background: var(--aswg-bg-primary-bg-color);
}

.bottom-section {
    display: flex;
    flex-direction: row;
    gap: var(--padding)
}

form {
&>div {
    max-width: 100%;
}

display:flex;
flex-wrap:wrap;

.title {
&>div {
    display: flex;
    flex-direction: column;
}

align-items: center;
    display:flex;
    flex-direction: column;
    width:100%;
}

gap:var(--gap);
max-width: 100%;
    background: transparent;
    border:none !important;
}

h1 {

    text-align: center;
    font-size: 3rem !important;
    color: #fff;
}

.ranks-container-wrapper {
    overflow: hidden;

button {
    opacity: 1 !important;
    z-index: 1;
    position: relative;
}
}

.ranks-container {
    padding:0;
    display:block;
    z-index: -100;
    position: relative;
    top: -100%;
    transition: 0.2s linear all !important;
    overflow: hidden;
    height: 0;
}

.ranks-container.active {
    padding:var(--padding) 0;

    top: 0;
    height: 100%;
}
.player-card:first-of-type .player-info{
    margin-top: 0 !important;
}
.submit-wrapper {
button {
    width:100%;
}

display:flex;
gap:var(--gap);

&>div:not(:first-of-type) {
    display:flex;
    gap:var(--gap);
    flex-direction: column !important;
}

justify-content: flex-start !important;
    flex-direction: column !important;
}

h3 {
    font-size:1.25rem;
    color:var(--aswg-primary-text-color);
}

.actions-container {
    display: flex;
    gap:var(--gap);
    flex-wrap: nowrap;
}

.player-card {
.player-info {
    -webkit-box-shadow: inset 0px 0px 9px -2px #000;
    -moz-box-shadow: inset 0px 0px 9px -2px #000;
    box-shadow: inset 0px 0px 9px -2px #000;
    border-radius: 8px;
margin-top:calc(var(--padding)*2);
    margin-bottom: var(--gap);
    padding:var(--padding) !important;
    padding: var(--padding) 0;
    display: flex;
    gap: var(--gap);

img {
    border-radius: 50%;
    max-width: 150px;
    width: 150px;
}

.user-info {}
}
}



button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-button {
    background-color: #f44336;
    color: white;
}

button[type="submit"] {
    background-color: #4caf50;
    color: white;
}

button:hover {
    opacity: 0.9;
}